.contact-section {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
  }
  
  .contact-container {
    position: relative;
    top: 150px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #7BA849;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #30421D;
  }
  
  .contact-container p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #3a4e24;
  }
  
  
  .contact-form .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .contact-form label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
  }
  
  .contact-form .required {
    color: red;
  }
  
  .input-field,
  .textarea-field {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .textarea-field {
    height: 150px;
  }
  
  .submit-button {
    background-color: #F0EAD2;
    color: #30421D;
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #388E3C;
  }
  
  form input:focus,
  form textarea:focus {
    border-color: #4CAF50;
    outline: none;
  }