@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
/* HEADER */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    background-color: white;
}

/* Header */
.header {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}


.top-bar {
    background: linear-gradient(90deg, rgba(48, 66, 29, 1) 0%, rgba(123, 168, 73, 1) 90%);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    height: 100px;
    background-color: #F0EAD2;
}

/* Logo */
.logo img {
    height: 80px;
}

/* Barra de pesquisa */
.search-bar {
    flex-grow: 1;
    display: flex;
    max-width: 500px;
    margin-left: 20px;
    position: relative;
}

.search-bar input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
}

.search-bar button {
    background-color: #30421D;
    border: none;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-bar button i {
    color: white;
    font-size: 18px;
}

/* Navegação */
.navegar ul {
    display: flex;
    gap: 35px;
    list-style-type: none;
}

.navegar a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    transition: color 0.3s ease;
}

.navegar a:hover {
    color: #7BA849;
}

/* Ícones */
.user-icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.user-icons .icon {
    text-decoration: none;
    color: #333;
    text-align: center;
    font-size: 16px;
    transition: color 0.3s ease;
}

.user-icons .icon i {
    font-size: 20px;
}

.user-icons .icon:hover {
    color: #7BA849;
}

.user-icons .icon .icon-label {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}
